<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true" 
      internalLogLevel="Trace"
	  internalLogFile="${basedir}\logs\internal_logs\internallog.txt">

    <targets>
        <target name="logfiledebug" xsi:type="File" 
				fileName="${basedir}\logs\${shortdate}_debuglog.txt" 
	            layout="${longdate} ${level:uppercase=true} ${message}" />
        <target name="logfileerror" xsi:type="File" 
				fileName="${basedir}\logs\${shortdate}_errorlog.txt" 
	            layout="${longdate} ${level:uppercase=true} ${message}" />
		<target name ="database" xsi:type="Database"
				dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
			<connectionString>
				Server=(localDB)\MSSQLLocalDB;Database=forum;User ID=user;Password=1111
			</connectionString>
			<commandText>
				insert into dbo.logs(date, level, logger, message, properties, machinename, callsite, exception)
				values(@date, @level, @logger, @message, @properties, @machinename, @callsite, @exception);
			</commandText>
			<parameter name="@date" layout="${date}"/>
			<parameter name="@level" layout="${level}"/>
			<parameter name="@logger" layout="${logger}"/>
			<parameter name="@message" layout="${message}"/>
			<parameter name="@properties" layout="${all-event-properties:separator=|}"/>
			<parameter name="@machinename" layout="${machinename}"/>
			<parameter name="@callsite" layout="${callsite}"/>
			<parameter name="@exception" layout="${exception}"/>
		</target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="logfiledebug" />
        <logger name="*" minlevel="Error" writeTo="logfileerror" />
		<logger name="*" minlevel="Trace" writeTo="database" />
	</rules>
</nlog>
